In [1]:
import pandas
pandas.__version__

'0.24.2'

In [2]:
import pandas
pandas.__version__

'0.24.2'

In [3]:
import pandas as pd

In [3]:
#Pandas Objects:  Structure Arrays in which the rows and columns are identified with labels.

In [4]:
#The Three fundamental Pandas data structures are: 
# - the Series, 
# - DataFrame, and 
# - Index.

In [5]:
import numpy as np
import pandas as pd

In [6]:
#The Pandas Series Object:  A Pandas Series is a one-dimensional array of indexed data. It can be created from a
# list or array.

data= pd.Series([.25,.50,.75,1.00,])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [7]:
# The Series wraps both a sequence of values and a sequence of indices, which we can access with the values and 
# index attributes.

data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [8]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [11]:
data[0]

0.25

In [12]:
data[1]

0.5

In [13]:
data[2]

0.75

In [14]:
data[3]

1.0

In [16]:
data[0:2]

0    0.25
1    0.50
dtype: float64

In [17]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [21]:
# The Pandas Series can be used to explicitly define index associated with the values.

data= pd.Series([.25, .50, .75, 1.0],
                index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [23]:
data['c']

0.75

In [24]:
data= pd.Series([.25, .50, .75, 1.0],
                 index=[2,3,4,5])
data

2    0.25
3    0.50
4    0.75
5    1.00
dtype: float64

In [25]:
data[3]

0.5

In [26]:
data[5]

1.0

In [27]:
# Series as Specialized Dictionary: A dictionary is a structure that maps arbitrary keys to a set of arbitrary
# values, and a Series is a structure that maps typed keys to a set of typed values.

population_dict = {'California':11111,
             'Texas':22222,
             'New York':33333,
             'Florida':44444,
             'Illinois':55555}

population = pd.Series(population_dict)
population

California    11111
Texas         22222
New York      33333
Florida       44444
Illinois      55555
dtype: int64

In [28]:
population['California']

11111

In [29]:
population['Texas':'Illinois']

Texas       22222
New York    33333
Florida     44444
Illinois    55555
dtype: int64

In [30]:
population['California':'Illinois']

California    11111
Texas         22222
New York      33333
Florida       44444
Illinois      55555
dtype: int64

In [36]:
# Constructing Series objects.

pd.Series([2,4,6])

0    2
1    4
2    6
dtype: int64

In [32]:
pd.Series(5,index=[100,200,300])

100    5
200    5
300    5
dtype: int64

In [33]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [35]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3,2])

3    c
2    a
dtype: object